<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/nav.js"></script>

<link rel="stylesheet" type="text/css" href="/css/footer.css">
  <div class="foot-social">
    <a href="https://www.instagram.com/dubeytechofficial"><i class="icon fab fa-instagram"></i></a>
    <a href="https://stackoverflow.com/users/14899603/prashant-dubey"><i class="icon fab fa-stack-overflow"></i></a>
    <a href="mailto:dubeyprashant583@gmail.com"><i class="icon fas fa-envelope"></i></a>
    <a href="https://twitter.com/dubeyfire07"><i class="icon fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/prashant-dubey-204984209"><i class="icon fab fa-linkedin"></i></a>
  </div>
<footer>
  <p> &copy; <a href="https://dubeytech.github.io/cv">dubeyTech</a> 2021.</p>
</footer>
</body>
</html>