<!-------------  Footer CSS  -------------->
<link rel="stylesheet" href="/css/footer.css">
<!-- Floating social -->
<div class="float-social">
  <div class="wrapper">
    <a href="https://www.linkedin.com/in/prashant-dubey-204984209"><i class="icon fab fa-linkedin"></i></a>
  <a href="https://twitter.com/dubeyfire07" class="icon tw"><i class="fab fa-twitter"></i></a>
  <a href="mailto:dubeyprashant583@gmail.com" class="icon em"><i class="fas fa-envelope"></i></a>
  <a href="https://www.instagram.com/dubeytechofficial" class="icon ig"><i class="fab fa-instagram"></i></a>
  <a href="https://stackoverflow.com/users/14899603/prashant-dubey" class="icon st"><i
      class="fab fa-stack-overflow"></i></a>
  </div>
  
</div>
<!-- Footer -->
<footer>
  <div class="wrapper">
    <p> &copy; Copyright <a href="https://dubeytech-prashant.github.io/cv" class="foot-link">dubeyTech</a> 2021.</p>
  </div>
  </footer>

</body>

</html>