<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="coding, learn web development for free">
  <meta name="description"
    content="dubeyTech is an free online e-learning platform where you can learn to code at the cost of only your dedication!">
  <!--  iconLink CDN -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>dubeyTech_e-Learning</title>

  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
  <header class="sm">
    <a href="/">
      <h1 class="title">dubeyTech</h1>
    </a>
    <span class="ham-icon">&#9776;</span>
    <div class="menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/#courses">COURSES</a></li>
        <li><a href="https://dubeytech-prashant.github.io/cv">ABOUT US</a></li>
        <li><a href="mailto:dubeyprashant583@gmail.com">CONTACT US</a></li>
      </ul>
    </div>
  </header>
  <header class="lg">
    <div class="navbar">
      <a href="/">
        <h1 class="title">dubeyTech</h1>
      </a>
    <div class="nav">
      <a href="/">HOME</a>
      <a href="/#courses">COURSES</a>
      <a href="https://dubeytech-prashant.github.io/cv">ABOUT</a>
      <a href="mailto:dubeyprashant583@gmail.com">CONTACT</a>
    </div>
    </div>
  </header>