<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="coding, learn web development for free">
  <meta name="description"
    content="dubeyTech is an free online e-learning platform where you can learn to code at the cost of only your dedication!">
  <!--  iconLink CDN -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>dubeyTech_e-Learning</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>


  <header>
    <div class="wrapper">
      <nav>
        <div class="brand">
          <a href="/" class="brand-name">
            <h1>dubeyTech</h1>
          </a>
          <span class="ham-icon"> &#9776; </span>
        </div>
        <ul class="nav-links">
          <li><a href="/#courses">COURSES</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/projects">PROJECTS</a></li>
          <li><a href="/about">ABOUT US</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script>
    $(".ham-icon").on("click", () => {
      $(".nav-links").toggleClass("show");
    });
  </script>