<%- include("./partials/header") -%>
<link rel="stylesheet" href="/css/video.css">
<main>
  <div class="wrapper">
    <h1 class="vid-title">
      C++ Tutorial
    </h1>
    <div class="vid-container">
      <video class="video" width="100%" controls data-yt2html5="https://www.youtube.com/watch?v=vLnPwxZdW4Y">
      </video>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/gh/thelevicole/youtube-to-html5-loader@2.0.0/dist/YouTubeToHtml5.js"></script>
<script>
  new YouTubeToHtml5();
</script>

<%- include("./partials/footer") -%>