<%- include("./partials/header") -%>
<link rel="stylesheet" href="/css/video.css">
<main>
  <div class="wrapper">
    <h1 class="vid-title">
      <%= video.name %>
    </h1>
    <div class="vid-container">
      <iframe class="video" src="https://www.youtube.com/embed/?listType=playlist&list=<%=video.url%>" frameborder="1"
        allowfullscreen>
    </div>
  </div>

</main>


<%- include("./partials/footer") -%>