* {
  margin: 0;
  padding: 0;
}
*::selection{
  background-color: #0f0;
  color: #00f;
}
body {
  background-color: #333;
  font-family: "Gill Sans", Calibri, sans-serif;
}
header {
  background-color: #000;
  color: #eee;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.title {
  font-family: Calibri, sans-serif;
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
}
.title:hover {
    color: #eee;
    text-decoration: underline;
  }

/* For mobile and devices below 900px */
@media screen and (max-width: 900px) {
  header.lg {
    display: none;
  }
  .title {
    margin: 3% 5%;
  }
  .ham-icon {
    position: absolute;
    top: 50px;
    transform: translateY(-100%);
    right: 5%;
    font-size: 30px;
  }
  .menu {
    background-color: #111;
    height: 0;
    overflow: hidden;
  }
  .open {
    height: 100%;
    padding: 2%;
  }
  ul {
    list-style: none;
    margin: 0 5%;
    font-weight: 600;
  }
  ul li a{
    color: #eee;
    text-decoration: none;
    margin: 2% 0;
  }
}
/*  For devices above 900px */
@media screen and (min-width: 900px) {
  header.sm {
    display: none;
  }
  header {
    width: auto;
    padding: 15px 15%;
  }
  .title{
    font-size: 40px;
  }
  .nav {
    float: right;
  }
  .nav a {
    color: #ddd;
    float: left;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0 3px;
    margin: 0 10px;
  }
  .nav a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
  }
}
