* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #0f0;
  color: #00f;
}

body {
  background-color: #333;
  font-family: "Gill Sans", Calibri, sans-serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-color: #000;
  color: #eee;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 2%;
}

nav {
  margin: 0 auto;
  letter-spacing: .5px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-family: Calibri, sans-serif;
  color: #eee;
  font-size: 24px;
  font-weight: 900;
  background: linear-gradient(#0f0, #0ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px;
}

.brand-name:hover {
  padding-bottom: 0;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.8));
  color: #fff;
  border-bottom: 4px solid #fff;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
}

.ham-icon {
  font-size: 25px;
  font-weight: 900;
}

.nav-links {
  list-style: none;
  display: none;
}

.nav-links li {
  padding: 5px;
  font-size: 18px;
}

.nav-links li:hover {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.9));
}

.show {
  display: block;
}

main {
  padding: 0 2%;
}

/* *******************************      devices above 600px      **************** */

@media screen and (min-width: 600px) {
  header, main{
    padding: 0 5%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    flex: 1;
  }

  .brand-name {
    font-size: 28px;
  }

  .ham-icon {
    display: none;
  }

  .nav-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .nav-links li:hover {
    padding-top: 0;
    border-bottom: 4px solid #fff;
  }

}

/* *******************************      devices above 1000px      **************** */

@media screen and (min-width: 1000px) {
  main, header {
    padding: 0 15%;
  }
  .brand-name{
    font-size: 32px;
  }

  .nav-links li {
    font-size: 21px;
  }

}

/* *******************************      devices above 1200px      **************** */

@media screen and (min-width: 1200px) {
  .brand {
    flex: 1;
  }

  .nav-links li {
    font-size: 24px;
  }

  .nav-links {
    flex: 1;
  }
}