.welcome {
  color: #fff;
  font-size: 24px;
  margin: 10px 0 0;
}

hr {
  margin: 10px 0;
}

#courses {
  background-color: #eee;
  color: #000;
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 24px;
  margin: 10px 0;
  padding: 10px 5px;
  box-shadow: 3px 3px 5px 4px #000;
}

.course {
  background-color: #eee;
  padding: 2%;
  margin: 0 0 3%;
  box-shadow: 3px 3px 5px 4px #000;
}

.course-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.course-img img {
  width: 100%;
}

.c-title {
  color: #000;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .welcome {
    font-size: 28px;
  }

  .main-container {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .welcome {
    font-size: 32px;
  }

  .main-container {
    width: 40%;
  }
}