.vid-title {
  font-size: 25px;
  background-color: #fff;
  box-shadow: 3px 3px 4px 4px #000;
  padding: 2% 5%;
  margin: 5% auto;
  text-align: center;
}

.vid-container {
  background-color: transparent;
  box-shadow: 3px 3px 4px 4px #000;
  padding: 10% 2%;
  height: 500px;
  text-align: center;
}

.video {
  width: 100%;
  margin: 0 auto;
}

.flex-btn-container {
  display: flex;
  justify-content: space-around;
}

.prev,
.next {
  background-color: #333;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5%;
  border-radius: 5px;
  border: 2px solid #000;
}

.prev a,
.next a {
  color: #fff;
  text-decoration: none;
  letter-spacing: .2px;
}

.prev:hover,
.next:hover {
  border-width: 5px;
}

@media screen and (min-width: 600px) {
  .vid-title {
    font-size: 28px;
    padding: 2%;
    margin: 2% auto;
  }

  .video {
    width: 80%;
  }

  .prev,
  .next {
    font-size: 24px;
    margin: 2%;
  }
}

@media screen and (min-width: 1000px) {
  .vid-title {
    font-size: 32px;
  }

  .video {
    width: 60%;
  }

  .prev,
  .next {
    font-size: 24px;
    margin: 2%;
  }
}