main{
  padding: 3%;
}
.vid-title{
  background-color: #fff;
  padding: 2% 5%;
  box-shadow: 3px 3px 4px 4px #000;
  margin: 5% auto;
  text-align: center;
}
.video{
  width: 100%;
}
.vid-container{
  background-color: #ddd;
  box-shadow: 3px 3px 4px 4px #000;
  padding: 10% 2%;
  height: 250px;
  position: relative;
}
.prev, .next{
  background-color: #0af;
  padding: 2% 5%;
  border-radius: 5px;
  border: 2px solid #ff0;
  position: absolute;
  bottom: 5%;
}
.next{
  right: 5%;
}
.prev{
  left: 5%;
}
