.course-name {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

hr {
  color: #fff;
  margin: 0 0 15px;
}

.orange {
  background-image: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}

.orange:hover {
  background-image: linear-gradient(#ff4e00 0%, #ec9f05 74%);
}

.blue {
  background-image: linear-gradient(315deg, #260b88 0%, #9162e9 74%);
}

.blue:hover {
  background-image: linear-gradient(#9162e9 0%, #260b88 74%);
}

.video-name {
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px #000;
  text-align: center;
  padding: 15px 0;
  margin: 10px 0;
}

.video-name a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .course-name {
    font-size: 28px;
  }
  .main-container{
    width: 70%;
  }
  .video-name {
    padding: 20px 0;
  }
  
  .video-name a {
    font-size: 24px;
  }
  
}

@media screen and (min-width: 1000px) {
  .course-name {
    font-size: 32px;
  }
  .main-container{
    width: 60%;
  }
  .video-name {
    padding: 20px 0;
  }
  
  .video-name a {
    font-size: 28px;
  }

}