main {
  padding: 2% 5%;
}
.course-name{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
hr{
  color: #fff;
  margin: 2% 0 3%;
}
.orange{
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.blue{
  background-color: #260b88;
  background-image: linear-gradient(315deg, #260b88 0%, #9162e9 74%);
}
.video-name {
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px #000;
  text-align: center;
  padding: 15px 0;
  margin: 3% 0;
}
.video-name a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 900px) {
  main {
    padding: 2% 15%;
  }
  hr{
    width: 50%;
  }
  .course-name{
    font-size: 34px;
  }
  .video-name {
    width: 50%;
    margin: 1% 0;
    padding: 10px 0;
  }
  .video-name a {
    font-size: 28px;
  }
}
